<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/login-form.css" rel="stylesheet" />
  </head>
  <body>
    <div class="internal-error">
      <div class="error-message-container">
        <p>{{ strings.internalErrorMessage }}</p>
        <p>{{ strings.internalErrorInstructions }}</p>
        <p>{{ strings.internalErrorDetails }} {{ message }}</p>
      </div>
    </div>
  </body>
</html>